<div class="identification-form">
  <form class="identification-form__form" {{action "submitUsername" on="submit"}}>
    <div class="identification-form__control">
      {{input class="identification-form__username" value=username placeholder="Votre nom d'utilisateur" autocomplete="username" autofocus="true"}}
    </div>
    <div class="identification-form__control">
      <button class="identification-form__identificate" type="submit">S'identifier</button>
    </div>
  </form>
</div>
