<div class="message-list">
  <ul class="message-list__ul">
    {{#each reverseMessages as |message|}}
      <li class="message-list__li">
        {{message-item message}}
      </li>
    {{/each}}
  </ul>
</div>