<div class="message-list">
  <ul class="message-list__list">
    {{#each messages as |message|}}
      <li class="message-list__item">
        {{message-item message}}
      </li>
    {{/each}}
  </ul>
</div>