<div class="message-list">
  <div class="message-list__list">
    <ul>
      {{#each messages as |message|}}
        <li>
          {{message-item message}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>