{{#if hasNoMessage}}
  <div class="message-list__empty">
    Aucun message n'a été publié pour le moment.
  </div>
{{else}}
  <ul class="message-list__ul">
    {{#each reverseMessages as |message|}}
      <li class="message-list__li">
        {{message-item message=message}}
      </li>
    {{/each}}
  </ul>
{{/if}}