{{#if session.isAuthenticated}}
  <div class="navigation-bar__inner container">
    <div class="navigation-bar__links">
      <ul class="navigation-bar__ul">
        <li class="navigation-bar__li">
          {{#link-to "messages" class="navigation-bar__link navigation-bar__link--home"}}
            {{fa-icon "home" class="navigation-bar__link-icon"}}
            <span class="navigation-bar__link-label">Accueil</span>
          {{/link-to}}
        </li>
        <li class="navigation-bar__li">
          {{#link-to "about" class="navigation-bar__link navigation-bar__link--about"}}
            {{fa-icon "info-circle" class="navigation-bar__link-icon"}}
            <span class="navigation-bar__link-label">À propos</span>
          {{/link-to}}
        </li>
      </ul>
    </div>

    <div class="navigation-bar__logout">
      {{#link-to "logout" class="navigation-bar__link navigation-bar__link--logout"}}
        {{fa-icon "power-off" class="navigation-bar__link-icon"}}
        <span class="navigation-bar__link-label">Déconnecter</span>
      {{/link-to}}
    </div>

    </div>
{{/if}}