<div class="identification">

  <div class="identification-header">
    <div class="identification-header__logo">
      <img class="identification-header__logo-image" src="{{rootURL}}/images/ember-logo.png">
    </div>
  </div>

  <div class="identification-body">
    <div class="identification-body__description">
      <p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.</p>
    </div>
    {{identification-form class="identification-body__form" onSubmit=(action "saveUsernameAndRedirectToMessages")}}
  </div>
</div>