<div class="messages view container">
  {{message-input action=(action "publishMessage")}}
  {{message-list model}}
  <div class="messages__footer">
    Développé avec ♥ par la <a class="messages__footer-link" href="https://github.com/octo-web-front-end-tribe">tribu WEBF</a> © 2017 <a class="messages__footer-link" href="http://www.octo.com/fr">OCTO Technology</a>
  </div>
</div>